body {
    font-family: Arial, sans-serif;
    background-color: #bbe7ee;
    margin: 0;
    padding: 20px;
    color: #333;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #003c44;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 30px;
    margin-top: 90px;
}


        .logo {
            position: absolute;
            left: 150px;
            right: 20px;
            width: 0px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            margin-left:20px;
        }

        .page-title {
            font-family:'Times New Roman', Times, serif;
            text-align: center;
            flex-grow: 1;
            font-size: 2.4rem;
            font-weight: bold;
            color:#0b555f;
            margin-top: 30px;
        }

.content {
    display: flex;
    gap: 40px;
}

.upload-section, .data-section {
    flex: 1;
    background-color: #f9f9fc;
    padding: 40px;
    border-radius: 8px;

}

input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;

}

button {

    background-color: #e81a1a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1557b0;
}

#image-preview {

    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}

#image-preview img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 5px;
}

#extraction-table {

    width: 100%;
    border-collapse: collapse;
}

#extraction-table th,
#extraction-table td {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: left;
}

#extraction-table th {
    background-color: #f2f2f2;
}

.action-buttons {
    display: flex;
    justify-content: space-between; /* Ensures equal spacing between buttons */
    gap: 10px; /* Optional: Adds space between buttons */
    margin-top: 20px;
}

.action-buttons button {
    flex: 1; /* Optional: Makes both buttons equal in width */
    text-align: center; /* Ensures text is centered in buttons */
}
